body{background-color: 	#F3F3EF;}
h1{color #E8AE10:; font-family: sans-serif;	font-size: 12px;	text-align: center;}
p{color: #000000; font-family: monospace; font-size: 12px;	text-align: center;}
img{border-width: 3px;border-color: #000000;border-style: initial;}
a{color: #000000; font-family: monospace; font-size: 12px; text-decoration: none;}
